* {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {

    background-color: ghostwhite;
    overflow: hidden;
    margin: 0;
}

header {

    width: 100%;
    background-color: rgb(18, 68, 117);
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.5rem;


}

#title {

    font-size: 2.2rem;
    font-weight: bold;
    text-shadow: 3px 3px 10px #000;
}

#title-info {

    font-size: 1rem;
    padding-top: 5px;
    padding-bottom: 5px;
}

footer {

    position: absolute;
    bottom: 0;
    background-color: #4a516a;
    text-align: center;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    font-size: .8rem;
    padding: 5px;

}

#output {

    font-size: 1rem;
    color: #000000;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#myCanvas {

    display: flex;
    align-items: center;
    border: .5px solid #888
}

.ui-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(212, 219, 227);
}

.buttons {
    
    display: flex;
    align-items: center;
    gap: 10px;

}

button {

    border-radius: 8px;
    border: 1px solid rgb(48, 51, 8);
    padding: 0.6rem 1.2rem;
    font-size: 0.95rem;

    background-color: #fdfa11;
    color: #222;

    cursor: pointer;

}

button:hover {
    background-color: #f5f000;
}

button:active {
    transform: scale(0.97);
}

@media (max-width: 600px) {
    .buttons {
        flex-wrap: wrap;
        font-size: 14px;
        padding: 8px;
    }

    .buttons button {
        flex: 1 1 45%;
    }
}